.color {
    margin: 20px 50px;
    text-align: center;
}

.container {
    border: 1px solid black;
    height: auto;
    margin: 10px 100px; 
}

h1, h2 {
    padding-left: 20px;;
}

.color li {
    width: 100px;
    padding: 30px 50px;
    margin: 0 10px;
    display: inline-block;
    font-size: 20px;
}

.color #c1 {
    background-color: pink;
}

.color #c2 {
    background-color:greenyellow;
}

.color #c3 {
    background-color: cyan;
}

.color #c4 {
    background-color: lemonchiffon;
}

/* font */
.font .f1,.f2,.f3 {
    padding: 10px 40px;
    display: inline-block;
}

.font ul li{
    padding: 10px;
}

.f1 {
    font-family: Comfortaa;
}

.f2 {
    font-family: kufam;  
}

.f3 {
    font-family: "Ubuntu Condensed";
}

/* Text Styles */

.head1 {
    font-weight: 700;
    font-size: 26px;
    font-family: kufam;
}

.head2 {
    font-weight: 500;
    font-size: 18px;
    font-family: "Ubuntu Condensed";
}

.para {
    font-weight: 400;
    font-size: 14px;
    font-family: Comfortaa;
}

.style ul {
    padding: 20px;
}

.style ul li {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.style .head1,.head2,.para {
    padding: 10px 40px;
    display: inline-block;
}